section{
  margin-top:100px;
}
.form-container {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items:center ;
  margin: auto;
  width: 60%;
  padding: 10px 0;
}
fieldset{
  margin-left:50px;
}
fieldset, select{
  width: 100%;
  border: none;
  line-height: 50px;
  position: relative;
}
select{
  color:#d9d9d9;
}
select::after{
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
}
option{
  background-color: rgb(131, 78, 46);
}
label{
  color:#D9D9D9;
  font-size: 20px;
  line-height: 1.6;
}
input , select{ 
  padding:12px 0;
  border: 2px solid #653b23; 
  border-radius: 5px; 
  box-sizing: border-box; 
  background-color: #834E2E;
}
input[type=email],input[type=text], input[type=number]{
  color:#d9d9d9;
  width: 100%;
  padding-left:10px;
}
input[type=text]:focus{
  color:#d9d9d9;
  opacity: 1;
}
input::placeholder{
  color:#d9d9d9;
  opacity: 0.5;
}
input:valid{
  outline-color: lightgreen;
}
button{
  margin-top:20px;
}
