section{
  margin-top:6.25em;
}
.form-container {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%; 
  margin:auto;
  padding: 0.625em 0;
  border: 0.1875em solid #653b23; 
  border-radius: 0.625em; 
}
fieldset{
  width: 100%;
  border: none;
}
input{ 
  padding:0.75em 0;
  border: 0.125em solid #653b23; 
  border-radius: 0.3125em; 
  box-sizing: border-box; 
  background-color: #834E2E;
}
input[type=email], input[type=number]{
  color:#d9d9d9;
  width: 70%;
  padding-left:0.625em;
}
input[type=text]{
  color:#d9d9d9;
  padding-left:0.625em;
}
input[type=text]:focus{
  color:#d9d9d9;
  opacity: 1;
}
input::placeholder{
  color:#d9d9d9;
  opacity: 0.5;
}
input:valid{
  outline-color: lightgreen;
}
button{
  margin-top:1.25em;
}
