section{
  margin-top: 7.5em;
  width: 100%;
}
.steps-container{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
}
.left-side{
display: flex;
flex-direction: column;
width: 50%;
}
.right-side{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
}
.right-side img{
  width: 50%;
  opacity: 0.9;
  border-radius: 0.75em;
}
.right-side img:hover{
  width: 50%;
  transition: 0.7s ease-in-out;
}
.how-to ul{
  margin-left: 3.75em;
  color:#D9D9D9;
  line-height: 2;
  list-style: none;
}
.how-to ul li{
  font-size: 1.25em;
}
.how-to ul li::before {
  margin-right: 0.3125em;
  content: '➲';
  color: rgb(240, 204, 114);
  font-size: 1.5625em;
}
.bullets{
  color:#D9D9D9;
  font-size: 1.25em;
  padding-bottom:1.875em;
  padding-left: 1.875em;
  font-style: italic;
}
.form-button{
  width:12.5em;
  height:2.5em;
  margin-top: 1.875em;
  background-color: #D9D9D9;
  border-radius: 1.875em;
  border-style:none;
  cursor:pointer;
  color:#834E2E;
  font-size:1.25em;
 
}
.form-button:hover{
  width:18.75em;
  background-color: #834E2E;
  color:#D9D9D9;
  transition: 0.7s ease-in-out;
  box-shadow: 0 0.25em 0.5em 0 rgba(59, 33, 23, 0.3), 0 0.375em 1.25em 0 rgba(59, 33, 23, 0.19);
}
span{
  font-weight: 700;
  font-style: italic;
  font-size: 1.25em;
  color: #653b23;
}
