.homepage{
  background-image: url(../images/delta.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment:none;
  position:relative;
  box-shadow: 0.1875em 0.1875em 0.4375em #653b23;
}
.header-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  height:140px;
  width:90%;
  margin:auto;
}
.logo-container{
  height:6.875em;
  align-items:center;
}
.logo{
  height:100%;
}
.nav-menu-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  width:1000px;
}
.nav-menu{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  text-align:center;
  list-style:none;
  width: 100%;
}
.nav-menu a{
  height:100%;
  font-size:1.25em;
  color:#D9D9D9;
  text-decoration: none;
  cursor:pointer;
}
.nav-item{
  height:50px;
  width:160px;
  padding-top:10px;
}
.nav-item:hover {
  background-color: #985D3A;
  opacity:95%;
  transition: 0.3s ease-in;
}
.dropdown{
  display:none;
  background-color: #834E2E;
  list-style: none;
  margin-top:10px;
}
.nav-item:hover .dropdown{
  display:block;
}
.dropdown-item{ 
  line-height: 45px;
  border-bottom: 2px solid #D9D9D9;
  margin-left:10px;
  margin-right:10px;
}
.dropdown-item:last-child{ 
  border-bottom: none;
}
.dropdown-item>a{
  font-size:15px;
  text-decoration: none;
  color:#D9D9D9;
}
.nav-button{
  display:flex;
  align-items:center;
  justify-content: center;
  width:8.125em;
  height:2.5em;
  margin-left: 0.625em;
  background-color: #D9D9D9;
  border-radius: 1.875em;
  border-style:none;
  cursor:pointer;
  color:#834E2E;
  font-size:1.25em;
}
.nav-button:hover, .main-button:hover{
  background-color: #834E2E;
  color:#D9D9D9;
  transition: 0.3s ease-in;
  box-shadow:  0.3125em 0.3125em 0.9375em rgb(57, 56, 56) ;
}
.page-contents{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position:absolute;
  top:12.5em;
  left:4.375em;
  right:6.25em;
}
.left-section{
  display:flex;
  align-items: center;
}
.right-section{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:15.625em;
}
.text-heading{
  color:#d9d9d9;
  text-align: start;
}
.right-section>h1{
  font-size:4.375em;
}
.right-section>h3{
  margin-top:0.625em;
  font-size:1.25em;
}
.adopt-me, .main-button{
width:12.5em;
height:2.5em;
margin-top:1.875em;
border-radius: 3.125em;
border-style: none;
color:#985D3A;
background-color: #D9D9D9;
font-size:1.25em;
font-weight: bold;
align-items: center;
box-shadow: 0 4px 8px 0 rgba(59, 33, 23, 0.3), 0 6px 20px 0 rgba(59, 33, 23, 0.19);
cursor:pointer;
}
.adopt-me:hover{
  width:18.75em;
  background-color: #653b23;
  color:#D9D9D9;
  transition: 0.4s ease-in;
}
.main-heading{
  color:#D9D9D9;
  font-size: 40px;
  padding-bottom:30px;
  padding-left: 30px;
}
.main-text{
  color:#D9D9D9;
  font-size: 25px;
  padding-bottom:30px;
  padding-left: 30px;
}
.main-button:hover{
  height:80px;
  background-color: #653b23;
  color:#D9D9D9;
  transition: 0.5s ease-in-out;
}
.pets-section{
  display:flex;
  flex-direction: column;
  margin-top:100px;
}
.cards-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left:150px;
  margin-right:150px;
}
.cards{
  transform-style:preserve-3d;
  transition: all 0.7s ease-in;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:300px;
  height:400px;
  background-color: #D9D9D9;
  border-radius: 5%;
  position:relative;
}
.img-container{
  width:250px;
  height:330px;
  background-color: #D9D9D9;
  border-radius: 5%;
  position:absolute;
  top:30px;
  left:25px
}
.pets{
  height:100%; 
  width:100%;
  object-fit: cover;
  border-radius: 5%;
}
.pets-section .main-button{
  width: 300px; 
  margin: 100px auto; 
  display: block; 
  text-align: center;
}
.cards:hover{
  transform:rotateY(180deg);
}
.the-front{
  display:flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  backface-visibility: hidden;
  border-radius: 20px;
  text-align:center;
}

.the-back{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position:absolute;
  border-radius: 20px;
  backface-visibility: hidden;
  transform:rotateY(180deg);
}
.card-text{
  font-size: 20px;
  font-weight:800;
  color:#985D3A;
  position: relative;
  left:120px;
  bottom: 10px;
}
.card-text-back{
  font-size: 17px;
  font-weight:500;
  backface-visibility: hidden;
  color:#834E2E;
  margin:20px 20px;
}
span{
  font-style: italic;
  font-weight: bold;
}
@media (max-width: 768px) { 
  .nav-menu-container { 
      width: 100%; 
      justify-content: flex-end; 
      z-index: 1000; 
    } 
  .nav-menu { 
    display: none; 
    flex-direction: column; 
    width: 100%; 
    background-color: #834E2E; 
    position: absolute; 
    top: 60px; 
    left: 0; 
    right: 0; 
    z-index: 1000; 
  }.nav-menu.active { 
    display: flex; 
  } 
  .nav-item { 
    width: 100%; 
    text-align: center; 
    padding: 10px 0; 
  } 
  .nav-links { 
    padding: 10px; 
  } 
  .menu-toggle { 
    display: flex; 
  } 
  }
  