@media screen and (max-width: 37.5em) { 
  .nav-menu-container { 
      width: 100%; 
      justify-content: flex-end; 
    } 
  .nav-menu { 
    display: none; 
    flex-direction: column; 
    width: 100%; 
    background-color: #834E2E; 
    position: absolute; 
    top: 3.75em; 
    left: 0; 
    right: 0; 
    z-index: 1000; 
  }.nav-menu.active { 
    display: flex; 
  } 
  .nav-item { 
    width: 100%; 
    text-align: center; 
    padding: 0.625em 0; 
  } 
  .nav-links { 
    padding: 0.625em; 
  } 
  .menu-toggle { 
    display: flex; 
  } 
  .right-section .text-heading{
    display:none;
  }
  .adopt-me{
    margin-top: 28.125em;
    margin-right: 5em;
  }
    .pets-section {
      padding: 0.625em;
    }
    .main-heading {
      font-size: 2.5em;
    }
    .main-text {
      font-size: 1.5625em;
    }
    .cards-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .cards {
      width: 100%;
      margin-bottom: 1.25em;
    }
    .img-container {
      display: flex;
      justify-content: center;
    }
    .pets {
      width: 100%;
      max-width: 18.75em;
    }
    .card-text, .card-text-back {
      font-size: 1em;
    }
    .main-button {
      width: 50%; 
      margin-left: 0;
    }
  .left-part{
    display:none;
  }
  .right-part{
    margin:auto;
  }
  .footer-heading, .material-symbols-outlined{
    font-size:1.5625em;
  }
   .main-heading{
    font-size: 1.5625em;
  }
   .main-text{
    font-size: 0.9375em;
  }
  .right-column .main-heading{
    font-size: 1.25em;
  }
  .right-column .bullets{
    font-size: 1.25em;
  } 
  .bullets ul li{
    font-size: 0.9375em;
  }
  .achievements { 
    display: flex;
    align-items: center;
    width: 7.5em;
    height: 7.5em;
    background-color: #D9D9D9;
    border-radius: 3.75em;
    margin-bottom: 1.875em;
    } 
    .text{
      width: 100%;
      color:#653b23;
      text-align: center;
      font-size: 0.625em;
    }
    .form-container { 
      max-width: 31.25em; 
      margin: 0 auto; 
    } 
    input, select, button { 
      width: calc(50% - 0.625em); 
      float: left; 
      margin-right: 0.625em; 
    } 
    input:nth-child(even), select:nth-child(even), button:nth-child(even) { 
      margin-right: 0; 
    } 
  }