.pets-page{
  margin-top:6.25em;
}
.main-heading{
  color:#D9D9D9;
  font-size: 1.875em;
  padding-bottom:1.875em;
  padding-left: 1.875em;
  text-align: start;
  position: relative;
}
.main-text{
  color:#D9D9D9;
  font-size: 1.25em;
  padding-bottom:1.875em;
  padding-left: 1.875em;
  margin-bottom: 1.875em;
  line-height: 1.6;
}
.card-wrapper{
  max-width:80%;
  margin: auto;
  overflow:hidden;
}
.card-list {
  margin-bottom: 3.75em;
}
.card-list .card-item{
  list-style: none;
}
.card-list .card-item .card-link{
  width: 23.75em;
  display: block;
  background-color: #D9D9D9;
  padding: 1.875em;
  border-radius: 0.75em;
  text-decoration: none;
}
.second-slider{
  height: 28.75em;
}
.card-list .card-link .card-image{
  width:100%;
  object-fit: cover;
  border-radius: 0.625em;
}
.card-list .card-link p{
  color:#653b23;
  font-weight: bold;
  margin-top: 0.625emx;
}
.card-list .card-link h3{
  font-size: 0.9375em;
  color:#653b23;
  margin-top: 0.625em;
}
.card-wrapper .swiper-pagination-bullet{
  background-color:#653b23;
  height: 0.75em;
  width:0.75em;
  opacity:0.5;
}
.card-wrapper .swiper-pagination-bullet-active{
  opacity: 1;
}
.card-wrapper .swiper-button-next,.card-wrapper .swiper-button-prev{
  color: #653b23;
  font-weight:900;
}
.card-wrapper .swiper-pagination{
  margin-top: 3.75em;
}
.pets-page .main-heading, .pets-page{
  text-align: center;
}
#adopt-me-button {
  display: inline-block;
  width:12.5em;
  height:2.5em;
  margin-top:1.875em;
  border-radius: 3.125em;
  border-style: none;
  color:#985D3A;
  background-color: #D9D9D9;
  font-size:1.25em;
  font-weight: bold;
  align-items: center;
  box-shadow: 0 0.25em 0.5em 0 rgba(59, 33, 23, 0.3), 0 0.375em 1.25em 0 rgba(59, 33, 23, 0.19);
  cursor:pointer;
}
#adopt-me-button:hover{
  height:5em;
  background-color: #653b23;
  color:#D9D9D9;
  transition: 0.5s ease-in-out;
} 